body {
  margin: 0;
  background-color: #fefeff;
}

.title {
  font-size: 64px;
  margin: 0px;
}

.divider {
  height: 1.5px;
  width: 50%;
  background-color: #3a3a3a;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
