body {
  margin: 0;
  background-color: #fefeff;
}

.inactive {
  display: none !important;
}

.title {
  font-size: 64px;
  margin: 0px;
  margin-top: 25px;
}

.divider {
  height: 1.5px;
  width: 50vw;
  background-color: #3a3a3a;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button {

}

.button:hover {
  color: blue;
}

.slash {
  margin: 0px 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.shrunkenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*buttons on home page*/
