body {
  margin: 0;
  background-color: #fefeff;
  overflow: hidden;
}

.inactive {
  display: none !important;
}

.title {
  font-size: 64px;
  margin: 0px;
  margin-top: 25px;
}

.name {
  font-size: 48px;
  letter-spacing: 5px;
  font-stretch: extra-expanded;
  margin: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.divider {
  height: 1.5px;
  width: 50vw;
  background-color: #3a3a3a;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button {

}

.button:hover {
  color: blue;
}

.slash {
  margin: 0px 2vw;
}

.highlighted {
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  transition-duration: 1s;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: 100vw;
  position: fixed;
  top: 100vh;
  transition-duration: 1s;
}

.half {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPic {
  width: 80%;
  height: 60%;
  background-color: #3a3a3a;
}

.para {
  width: 80%;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#meC {
  background-color: #f7f7f7;
  /*opacity: 0.1;*/
}

#resumeC {
  background-color: #f7f7f7;
  /*opacity: 0.1;*/
}

#contactC {
  background-color: #f7f7f7;
  /*opacity: 0.1;*/
}

/*buttons on home page*/
